@import "../../style.scss";

* {
  margin: 0;
}
.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include mobile{
    align-items:normal;
  }

  .card {
    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    // min-height: 600px;
    overflow: hidden;

    @include mobile {
      width: 100%;
      flex-direction: column;
      border-radius: 0;
    }

    .left {
      flex-wrap: wrap;
      background: linear-gradient(rgba(39, 11, 96.5), rgba(39, 11, 96, 0.5)),
        url("https://images.unsplash.com/photo-1520880867055-1e30d1cb001c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      @include mobile {
        // height: 20vh;
        display: block;
        align-items: center;
      }

      h1 {
        font-size: 100px;
        line-height: 100px;
        margin: 0;
        @include mobile{
          margin-top: 40px;
          font-size: 50px;
        }
      }
      p {
        @include mobile {
          display: none;
        }
      }
      span {
        font-style: 14px;
        cursor: pointer;
      }
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
      @include mobile{
        // margin: 10px;
      }
    }
    .right {
      flex-wrap: wrap;
      padding: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      @include mobile {
        height: 50vh;
        // width: 90%;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
