@import "../../style.scss";

.home {
  // height: 85vh;
  @include themify($themes) {
    background-color: themed('bgSoft');
    padding: 20px 50px;
    @include mobile{
      padding: 10px;
    }
    @include tablet{
      padding: 20px;
    }
  }}
